streamlit
streamlit_folium
streamlit_option_menu
mysql-connector-python
st-gsheets-connection
vega_datasets
prettytable
matplotlib
geopandas
Authlib
folium
pandas
numpy
pymysql
sqlalchemy
streamlit_cookies_manager
plotly_express
streamlit-aggrid
altair
pillow
requests
