streamlit
streamlit_folium
streamlit_option_menu
mysql-connector-python
st-gsheets-connection
vega_datasets
prettytable
matplotlib
geopandas
Authlib
folium
pandas
numpy
langchain
faiss-cpu
sentence-transformers
unstructured
python-docx
openai
langchain_community
mysqlclient